
:root {
    --measureDimensionButtonBorderradius: 8px;    
    --measureDimensionButtonBorderwidth: 8px;    
    --measureDimensionCardBorderradius: 8px;    
    --measureDimensionCardPadding: 16px;    
}